@font-face { 
	font-family: 'SFNewRepublic';
	font-style: normal;
  	font-weight: normal;
	src: local('SFNewRepublic'), url('https://github.com/thewaytozion/widgets/raw/main/fonts/SF.ttf') format('truetype'); 
}
